 
/* Hide the actual checkbox */

.toggle-switch input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
 
  
  .toggle-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
    border-radius: 30px;
  }
  
  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 3px;
    width: 4px;
    left: 0px;
    bottom: -10px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input[type="checkbox"]:checked + .toggle-slider {
    background-color: #2196F3;
  }
  
  input[type="checkbox"]:checked + .toggle-slider:before {
    transform: translateX(26px);
  }